$name:pix-modal;
.#{$name}{
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    &-radius{
        border-radius: 15px;
    }
    &-bg{
        z-index: 150;
        position:fixed;
        display: flex;
        top: 0;left: 0;right: 0;bottom: 0;
        justify-content: center;
        align-items: center;
        overflow:hidden;
        transition: 0.5s;
    }
    &-title{
        width: 100%;
        &-p{
            font-weight: bold;
            padding: 0;
            margin: 0;
        }
    }
    &-content{
        width: 100%;
        text-align: center;
        &>p{
            margin: 0;
            padding: 0;
            height: auto;
        }
    }
    &-footer{
        width: 100%;
    }
}
.close{
    opacity: 0;
}