$name:pixel-navbar;

.#{$name} {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
    transition: .3s;
    z-index: 60;
    justify-content: space-between;

    &-left {
        flex: 1;
        height:100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        &-logo {
            height: 70%;
        }

        &-defult {
            width: 100%;
            display: flex;
        }

        a {
            text-decoration: none;
            color: #000;
        }

        &-ul {
            height: 100%;
            position: relative;
            padding: 0 1rem;
            transition: .3s;
            cursor: pointer;

            &:hover {
                background-color: darken(white, 10%);

                .pixel-navbar-left-ul-menu {
                    display: block;
                }
            }

            &-list {
                &::after {
                    content: "▼";
                    font-size: .6rem;
                    color: #999;
                    margin-left: .5rem;
                }
            }

            &-title {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &-menu {
                position: absolute;
                list-style: none;
                top: 100%;
                left: 0;
                padding: 0;
                margin: 0;
                z-index: 10;
                width: 100%;
                display: none;
            }

            &-li {
                width: 100%;
                padding: 5px 0px;
                text-align: center;
                cursor: pointer;

                &:hover {
                    background-color: darken(white, 10%);
                }
            }

        }
    }

}

.#{$name}-shadow {
    box-shadow: 0 3px 5px #666;
}

.#{$name}-float {
    position: fixed;
    top: 0;
    left: 0;
}