$name:pixel-roulette;
.#{$name}{
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 200px;
    cursor: pointer;
    &:hover{
        .#{$name}-direction{
            display: block;
        }
        .#{$name}-titles{
            height:22%
        }
    }


    &-plate{
        position: relative;
        height: 100%;
        &-arr{
            position: relative;
            height: 100%;
        }
        & img{
            position: absolute;
            left: 0;top: 0;
            width: 100%;
            height: 100%;
        }
    }
    &-titles{
        position: absolute;
        transition:.4s;
        left: 0;
        bottom: 0;
        width: 100%;
        height:16%;
        background-color: rgba(0, 0, 0, 0.541);
        color: #fff;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        z-index: 30;
        &-block{
            position: absolute;
            left: .8rem;
            z-index: 100;
            &>p:nth-child(1){
                font-size: 1rem;
                color: #fff;
                margin: 0;
            }
            &>p:nth-child(2){
                font-size: .4rem;
                color: #fff;
                margin: 0;
            }
        }
    }
    &-direction{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}