$name:pixel-sticker;
.#{$name}{
    position: relative;
    display: inline-block;
    &-content{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .6rem;
        border-radius: .3rem;
        &-default{
            padding:.1rem .5rem;
            p{
                white-space: nowrap;
            }
        }
    }
}