$name:pixel-table;
$bgColor-data:white;
$mode:normal staggered;
$staggeredColor:rgb(245, 245, 245);
.#{$name}{
    &-header-wrapper{
        width: 100%;
        &>div{
            width: 100%;
            &>thead{
                width: 100%;
            }
        }
    }
    &-data-wrapper{
        &>div{
            width: 100%;
            &>thead{
                width: 100%;
            }
        }
        & td{
            padding:.3rem 0;
        }
    }
}
.#{$name}-border{
    border:solid 1px #ccc;
}
.#{$name}-data-line:nth-of-type(n){
    &>td{
        border-bottom: solid 1px #ccc;
    }
}
.#{$name}-data-line:last-child{
    &>td{
        border-bottom: none;
    }
}
.#{$name}-header-line{
    border-bottom: solid 1px #ccc;
}
.#{$name}-reality{
    width: 100%;
    &>tr{
        cursor: pointer;
    }
}
.#{$name}-data-line{
    background-color: $bgColor-data;
    transition:.3s;
}

@each $m in $mode{
    .#{$name}-#{$m}{
        @if $m == staggered{
            .#{$name}-data-line:nth-of-type(2n){
                background-color: $staggeredColor;
            }
            .#{$name}-data-line:hover{
                background-color: darken($staggeredColor,10%);
            }
        }
        @else{
            .#{$name}-data-line:hover{
                background-color: darken($bgColor-data,10%);
            }
        }
    }
}