$name:pixel-table;
$bgColor-data:white;
$mode:normal staggered;
$staggeredColor:rgb(245, 245, 245);
// 表格整体的宽度处理
.#{$name}{
    box-sizing: border-box;
    // 表头
    &-header-wrapper{
        width: 100%;
        &>div{
            width: 100%;
            &>thead{
                width: 100%;
            }
        }
    }
    // 表格数据
    &-data-wrapper{
        &>div{
            width: 100%;
            &>thead{
                width: 100%;
            }
        }
        & td{
            padding:.3rem 0;
        }
    }
}
// 表格边框
.#{$name}-border{
    border:solid 1px #ccc;
}
// 数据行添加下划线
.#{$name}-data-line:nth-of-type(n){
    &>td{
        border-bottom: solid 1px #ccc;
    }
}
// 数据行最后一行下换线取消
.#{$name}-data-line:last-child{
    &>td{
        border-bottom: none;
    }
}
// 表头下划线
.#{$name}-header-line{
    border-bottom: solid 1px #ccc;
}
// 真实表格样式
.#{$name}-reality{
    width: 100%;
    &>tr{
        width: 100%;
        cursor: pointer;
    }
}
.#{$name}-data-warpper{
    &>td{
        &>span{
            display:block;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
//数据行样式(部分)
.#{$name}-data-warpper{
    background-color: $bgColor-data;
    transition:.3s;
}

// normal和 staggered 模式的样式
@each $m in $mode{
    .#{$name}-#{$m}{
        @if $m == staggered{
            .#{$name}-data-warpper:nth-of-type(2n){
                background-color: $staggeredColor;
            }
            .#{$name}-data-line-animation:hover{
                background-color: darken($staggeredColor,10%);
            }
        }
        @else{
            .#{$name}-data-line-animation:hover{
                background-color: darken($bgColor-data,10%);
            }
        }
    }
}
table {
    margin:0;
}